.wrapper
{
    padding-top: 0px;
    top:65px;
    position:absolute;
    width: 100%;
}

.sidebar-icon{
  
     float:right;
     color:white;
}

@media (min-width: 768px)
{
    .wrapper
    {
         
        padding-top: 0px;
    }

    #page-content {
        margin-top: 0px !important;
    }
}



@media (min-width: 768px)
{
#page-wrapper {
padding: 10px;
}}
#page-wrapper {
width: 100%;
padding: 0;
background-color: #fff;
}
@media (min-width: 768px)
{
#wrapper {
padding-left: 250px;
}}
#wrapper {
padding-left: 0;
}
#sidebar{
    float: left;
    position: fixed;
    width: 180px;
    z-index: 101;
    height: 100%;
    background-color: #92D5D9;
    border-top: 1px solid #8FA8BF;
    background: #0c100d;
    top:80px;
}

#page-content{
 
    position:relative !important;
    min-width: 440px;
    padding: 10px 0px 0px 50px;
    margin-top: 100px;
    margin-bottom: 100px;
}

#page-content h2 
{
    color: #2f4050;
}
#page-content h2 
{
   color: #0F4173;
}

.with-sidebar{
    margin: 0 0 0 120px;
    padding: 0 15px;
}
ul.sidebar-nav .fa {
    margin-right:4px;
     margin-left:4px;
font-size: 13px;
}
*
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    *:before,
    *:after
    {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
switch{
    position:fixed;
}

.switcher{
    position: absolute;
    top: 1px;
    left: 180px;
    height: 40px;
    width: 23px;
    background-color: #0c100d;
    padding: 8px 3px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

    .switcher span
    {
        color:#fff;
        font-size:small;
        padding-top:1px;
    }

       .sidebar-li
   {
           color: #ffffff !important;
       line-height: 2.2;
           margin-bottom: 0px !important;
           text-align: left;
            width: 160px;
            text-decoration: none !important;
   
   }
          .sidebar-li:focus, .sidebar-li:active, .sidebar-li:hover
   {    text-decoration: none !important;
           color: #169041 !important;
   }

   .sidebar-li a:focus, .sidebar-li a:active, .sidebar-li a:hover
   {    text-decoration: none !important;
           color: #169041 !important;
   }

   ::-webkit-scrollbar {
    height: 0px;
    width: 4px !important;
    background-color: #8194A7 !important;
    outline: 1px solid slategrey !important;
}