﻿
 form{
    height: 100%;
}
 .container-fluid{
     background-color: #E6E6E6;
     border-bottom: 1px solid #D6D6D6;
}
 .nav-active{
     background-color: #1F3954;
     text-decoration: underline !important;
}
 .bb-logo{
     width:475px;
     padding: 4px 0;
}
 .bb-icon{
     position: absolute;
     margin-top: 4px;
     left: 26px;
     top: -10px;
}
 .main-content {
     width: 100%;
     padding: 0;
     margin: 0;
     min-width: 320px;
     min-height: 100%;
     margin-top: 110px;
}
 .page-container {
     width: 100%;
     padding: 0;
     margin: 0;
     min-width: 320px;
     min-height: 100%;
     margin-top:80px;
}
 .copyright {
     min-height: 30px;
     background-color: #12191f;
     border-top: 1px #ffffff solid;
     bottom: 0;
     width: 100%;
     color: white;
     padding-bottom: 4px;
     font-size: 11px;
     margin-bottom:-30px;
}
 .bgimage-inside {
     padding-top: 160%;
}
 .signupform {
     margin: 0;
     padding: 2px;
     outline: none;
     box-shadow: 0 0 20px rgba(0,0,0,.3);
     font: 13px/1.55 'Open Sans', Helvetica, Arial, sans-serif;
     color: #666;
     border-radius: 6px;
     margin: 20px 0;
}
 .signupform header {
     display: block;
     padding: 10px 20px;
     border-bottom: 1px solid rgba(0,0,0,.1);
     background: rgba(248,248,248,.9);
     font-size: 25px;
     font-weight: 300;
     color: #232323;
     border-radius: 6px 6px 0 0;
}
 .signupform fieldset {
     display: block;
     padding: 10px 4px;
     border: none;
     background: rgba(255,255,255,.9);
}
 .signupform fieldset + fieldset {
     border-top: 1px solid #E0E0E0;
}
 .signupform section {
     margin-bottom: 20px;
}
 .signupform footer {
     display: block;
     padding: 10px 4px;
     border-top: 1px solid rgba(0,0,0,.1);
     background: rgba(248,248,248,.9);
     min-height: 46px;
     border-radius: 0 0 6px 6px;
}
 .form-signup{
     height:42px;
     border-radius: 18px;
}
 .lbl-signup {
     margin-left: 0;
     padding: 0;
     margin-bottom: 4px !important;
}
 .pad-s{
     padding: 15px 15px !important;
}
 .pad-zero{
     padding: 0 !important;
}
 .txt-req{
     color:#FF0707;
     font-size:15px;
}
 .indent{
     padding-right:4px !important;
}
 .progressBackgroundFilter {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     overflow:hidden;
     padding:0;
     margin:0;
     background-color:#000;
     filter:alpha(opacity=50);
     opacity:0.5;
     z-index:1000005!important;
}
 .loader-img{
     width: 100%;
     margin-top: -55px;
}
 .processMessage {
     padding: 10px;
     width: 300px;
     z-index: 100006!important;
     background-color: transparent;
     text-align: center;
     color: #FFFFFF;
     margin: 0 auto;
     margin-top: 140px;
}
 .progressBackgroundInitialize {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     overflow:hidden;
     padding:0;
     margin:0;
     background-color:#2c3e50;
     filter:alpha(opacity=50);
     z-index:1000005!important;
}


.loaderBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow:hidden;
    padding:0;
    margin:0;
    background-color:#2c3e50;
    filter:alpha(opacity=50);
    z-index:1000005!important;
    opacity: .6;
}

 .lbl-bold {
     font-weight:bold !important;
}
 .input-error{
     border-color: #b83f3f;
     outline: 0;
     border-width: 1px;
}
 .bb-label{
     margin-left:72px;
     font-family: Calibri;
}
 .bb-label h4{
     font-size: 18px;
     padding: 0;
     margin: 0;
     margin-top: 10.5px;
     color:#f2f2f4;
}
 .bb-label p{
     padding: 0;
     margin: 0;
     color: #e7ff9f;
}
 .form-default{
    height: 35px;
}
 .lbl-default{
     margin: 6px 0;
     text-align: right;
     color:#131d1f;
     margin-left:0px;
     padding-right: 8px;
     padding-left: 0px;
}

 .show-quicksearch{
     color:#305376;
     text-decoration:underline;
}
 .show-advancesearch{
     color:#305376;
     text-decoration:underline;
     margin:6px 0;
     padding:0 6px;
}
 .link-default{
     color:#305376;
     text-decoration:underline;
     padding:4px;
}
 i{
     padding-right:4px;
}
 .radius-zero{
     border-radius: 0 !important;
}
 .dropdown-default{
     padding: 6px !important;
}
 .icon-tooltip{
     color: #305376;
}
 .img-pop{
     height:540px;
}
 .links_container{
     text-align:center;
}
 .links{
     font-size: 13px;
     width: 100%;
    color:#305376;
     margin-right:6px;
}
 .links:focus, .links:active{
     font-weight:bold;
}
 @media (max-width: 767px) and (min-width: 0px) {
     .login-container{
        padding-top: 20px;
     }
     .login-img{
        display: none !important; 
     }
     .bb-label{
         display: none !important;
    }
     .bb-logo{
         display: none;
    }
     .pad-s{
         padding: 0 0 !important;
         margin:0 0 !important;
    }
     .indent{
         padding-right:0px !important;
    }
     .lbl-default{
         margin-bottom: 6px !important;
         padding:0 !important;
    }
     .rwd-table td{
         width : auto !important;
         text-align:left !important;
    }
     .show-quicksearch{
         padding-right:0px;
    }
     .links_container{
         text-align:left;
    }

}
 .background-cover {
     background-size: cover;
     background-repeat: no-repeat;
     background-position: 50% 50%;
     background: #0c100d;
}
 .input-error{
     border-color: #b83f3f;
     outline: 0;
     border-width: 1px;
}
 .logo1 {
     display: block;
     padding-top: 20px;
     float: left;
     width: 180px;
     min-width: 50px;
     margin-left: 50px;
}
 .lbl-rows {
     margin: 6px 0;
     text-align: right;
     color: #131d1f;
     margin-left: 8px;
     padding-right: 8px;
     padding-left: 4px;
}
 .row-header{
     color: #131d1f !important;
     text-align:left !important;
}
 .tbl-white{
     background:white;
     border: 1px solid #d6d6d6;
}
 .tbl-white th{
     background:#bac7da;
}
 .section-white{
     background:#e6e6e6;
}
 .section-black{
     background: #2b2828;
     border-radius:4px;
}
 .section{
     min-height:400px;
     padding:0;
     border: 1px solid #a0a0a0;
}
 .section-sm{
     height: 380px !important;
     padding:0;
     margin: 0 24px;
     margin-bottom: 14px;
}
 .banner-section{
     margin-top:12px;
     min-height:100px;
     padding:4px;
     border-radius: 6px;
     margin-right: 4%;
}
 .navloginbtn{
     background: black;
     color: #bac7da !important;
     padding: 12px !important;
}
 .media-controls{
     background: #2c3e50;
     border-radius: 50%;
     color: #ececec;
     font-weight: bold;
     margin-top: 10px;
     font-size: 30px !important;
     width: 60px;
     padding: 14px 18px!important;
}
 a.media-controls:hover{
     background-color: #1d2b40 !important;
}
 .bg-orange{
     background:#e77e23;
}
 .bg-black{
     background:#0c100d;
}
 .bg-darkblue{
     background:#181b2d;
}
 .bg-gray{
     background:#3d3d3d;
}
 .bg-light{
     background:#2c3e50;
}
 .bg-white{
     background:#ffffff;
}
 .txt-darkblue{
     color: #181b2d !important;
}
 .oval-gray {
     -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
     box-sizing: content-box;
     height: 3px;
     border: none;
     -webkit-border-radius: 40%;
     border-radius: 40%;
     font: normal 100%/normal Arial, Helvetica, sans-serif;
     color: rgba(0,0,0,1);
     -o-text-overflow: clip;
     text-overflow: clip;
     background: #A7A7A7;
     width: 84%;
     margin-top: 30px !important;
     margin: 0 auto;
     box-shadow: 1px #666666;
     margin-bottom: 14px;
}
 .article-header-container{
     width:100%;
     margin:0;
     padding:0;
     min-height: 56px;
}
 .article-header{
     color:white;
     margin-left:40px;
     font-size: 16px;
     margin-left: 0px;
     margin-top: 24px;
     display: inline-block;
}
 .text-white{
     color: #ffffff !important;
}
 .text-dim{
     color: #a6a6a6 !important;
}
 .align-justify{
     text-align:justify;
}
 .diagram-controls{
     bottom:0;
     position:absolute;
     margin-left: 120px;
}
 .li-controls{
     color:#a6a6a6!important;
     text-decoration:none !important;
     padding: 6px !important;
}
 .li-controls:hover,.li-controls:active,.li-controls:focus{
     color:white !important;
     text-decoration:underline !important;
     background-color:transparent !important;
}
 .fp-diagram{
     margin-top:50px;
     min-height:610px;
     background-color:white;
     border-radius:6px;
     display:flex;
     padding:0px !important;
}
 .fp-diagram-image{
     background-image: url('../images/gridlines.png');
     background-repeat:repeat;
     width:100%;
     min-height:610px;
     height:100%;
     padding:0px !important;
}
 .fp-properties{
     min-height:610px;
     background-color:#2c3e50;
     border-radius:6px;
     padding:2px;
}
 .fp-propcontainer{
     top:120px;
     right:0px;
     position:fixed;
     float:right !important;
     height: 100%;
}
 .sli-active {
    color: #b1d4be !important;
     font-weight: bold;
}
 .txt-width{
     width:80% !important;
     min-width:100px;
}
 .txt-prop{
     color: #ffffff;
     line-height: 2.2;
     margin-bottom: 0px !important;
     text-align: left;
     width: 160px;
     text-decoration: none !important;
}
 #tbl-tools{
     margin-left: 40px;
     width: 70%;
}
 .fp-propertiesmain{
     padding-top: 20px;
}
 #dv-prop{
     padding:4px;
}
/* width */
 #dv_floorplan::-webkit-scrollbar-track {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
     border-radius: 10px;
     background-color: #F5F5F5;
     width: 15px !important;
}
 #dv_floorplan::-webkit-scrollbar {
     width: 10px !important;
     background-color: #F5F5F5;
}
 #dv_floorplan::-webkit-scrollbar-thumb {
     border-radius: 10px;
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
     background-color: #555;
}
 .section-panel{
     margin-top: 30px;
     padding: 4px;
     border-radius: 6px;
}
 .pad-lrs{
     padding: 0 10px !important;
}
 .pagenum{
     font-weight: bold;
     color: #2c3e50;
     text-decoration:underline !important;
}
 .vl {
     border-left: 6px solid green;
     height: 500px;
}
 .pad-sm{
     padding:10px;
}
 .txt-black{
     color: #231e1e !important;
}
 .txt-white{
     color: white !important;
}
 .txt-orange{
     color: #e77e23 !important;
}
 .txt-blue{
     color: #080072 !important;
}
 .txt-bold{
     font-weight: bold !important;
}
 .txt-gray{
     color:#bfbfbf !important;
}
 .author-comment{
     border-radius:6px;
     min-height:60px;
     width:80%;
     margin-left: 20px;
     padding: 10px;
     text-align:center;
}
 .bg-flat-orange{
     background: #e67e22;
}
 .bg-flat-blue{
     background: #2c3e50;
}
 .img-radius{
     border-radius: 20px;
}
 .img-product{
     max-height: 360px;
}
 .text-center{
     text-align:center;
}

 .img-ads{
     margin: 0 auto;
     display: block;
     width: 70%;
     padding: 10px;
}
 .vertical-banner-ads{
     margin: 0 auto;
     display: block;
     width: 100%;
    /* padding: 0%;
     */
     margin-top: 10%;
}
 .tb-lg{
    min-height: 400px !important;
     max-height: 400px !important;
     max-height: 80%;
}

 .social-media-controls{
     float:right;
    height:100px;
     width:32%;
     background:#0c100d;
     padding: 10px;
}
 .paginate{
     text-align: center;
     margin-bottom: 10px;
     height: 50px;
}
 .paginate a{
    display: inline-block;
    color: white;
    background: #12191f;
    border: 1px solid white;
    margin: 0px;
    font-size: 16px;
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 10px;
}
 .filter-select{
     width: 70% !important;
}
 .btn-search{
     height: 28px;
     padding: 4px 16px;
     color: white;
     background: #12191f;
}
 .paginate .active{
     background: #2c3e50  !important;
}

 @media only screen and (max-width: 767px) {
.browse-input-group{
 width:  100% !important;
    }
.browse-input{
        width:  100% !important;
}
.nav-search {
        padding-top: 0px !important;
        max-width: inherit !important;
        width: 100%;
    }

    .navbar-left {
        margin-left:0 !important;
    }

    .navbar-inverse .navbar-nav>li>a {
        font-size:16px !important; 
    }
     .floating-ad-bottom{
         width: 200px !important;
         height: 100px !important;
         right:auto !important ;
         bottom:0;
         left: 0;
    }
     .floating-menu{
         border-radius: 12px 0 0 12px !important;
         right: 0 !important;
         left: auto !important;
    }
     .section-lg{
         max-height: none !important;
    }
     .section h2{
         padding: 2px !important;
    }
     .list-article{
         margin-top: 10px;
         height: 100% !important;
    }
     .list-article-footer{
         position: relative !important;
    }
     .list-article-footer h4{
         position: relative !important;
         display: inline-block;
        ;
    }
     .main-content {
         margin-top:0px !important;
    }
     .filter-select{
         width: 100% !important;
    }
     .tb-lg{
         min-height: 200px !important;
    }
     .navbar-fixed-top{
         position: relative!important;
    }
     .dv-banner{
         display: none;
    }
     .vertical-banner-ads{
         padding: 0;
         width: 88% !important;
         margin: 0 24px;
         margin-bottom: 14px;
    }

     .social-media-controls{
         height:200px !important;
         width:100% !important;
         position: inherit !important;
         right: inherit !important;
    }
     .section {
         min-height: 280px;
         padding: 10px;
         margin: 0;
         margin-bottom: 1px;
    }
     .logo1 {
         display: block;
         padding-top: 20px;
         float: left;
         width: 160px;
         min-width: 60px;
         margin-left:0;
    }
     .media-controls{
         width:100% !important;
         margin: 4px 1px !important;
         border-radius: 0px;
         border: 1px solid;
    }
     .navloginbtn{
         margin: 0 !important;
    }
     .footer-layer{
         min-height: 210px;
         margin-bottom: 0px !important;
    }
    .content-full{
        height: 100vh !important;
        padding-bottom: 60px !important;
    }
    .div-center-full{
        position: relative !important;
        top: 0;;
    }
}
 .footer-layer{
     min-height: 210px;
     margin-bottom: 10px;
}
 .footer-h4{
     padding-left: 8px;
     color:#bac7da;
}

 .article-img{
     border: 1px solid #babebe;
     height: 200px;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center center;
     margin-bottom: 12px;
}
 .h4-loader{
     width: 100%;
     text-align: center;
     margin-left: 4px;
}
 .section-black{
     background: black !important;
}
 .section h2{
     padding: 10px;
     font-size: 20px;
}
 .dv-banner{
     position: relative;
}
 .dv-feed{
     min-height: 400px;
}
 .bg-fade{
     background: linear-gradient(#0c100d, #505050);
}
 .img-row-list{
     max-width: 1000px;
     height: 100px;
     object-fit: cover;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center center;
}
 .desc-row-list{
     position: relative;
     height: 100%;
}
 .desc-row-list .list-title{
     font-weight: 500 !important;
     line-height: 1.1;
     font-size: 20px;
     color: #333333;
     display: block;
     padding: 6px;
}
 .list-link{
     font-weight: bold !important;
     font-size: 14px;
     color: #2c3e50;
}
 .list-link:hover{
     text-decoration: underline;
}
 .list-article{
     margin-bottom: 10px;
     height: 140px;
}
 .fa-bold{
     font-weight: bold !important;
}
 .list-article-footer{
     bottom: 0;
     position: absolute;
     display: block;
     padding: 10px;
     padding: 8px;
}
 .list-article-footer h4{
     font-size: 14px;
     font-weight: normal !important;
     display: inline-block;
     padding: 4px;
     margin-right: 20px;
}
 .section-lg{
     min-height: 677px !important;
     max-height: 677px;
}
 .btn-accordion{
     font-weight: 500 !important;
     font-size: 14px;
     color: inherit;
}
 .btn-accordion:hover{
     color: #2c3e50 !important;
     text-decoration: underline;
}
 .card-body{
     padding-left: 18px;
}
 .card-body a{
     display: block;
     margin-bottom: 4px;
     padding: 2px;
}

 .floating-menu{
     width: 50px;
     height: 240px;
     position: fixed;
     left:0;
     top:150px;
     background-color: #2B415A;
     border-radius: 0 12px 12px 0;
     z-index: 999;
}
 .floating-menu a{
     font-size: 20px;
     color: white;
     padding: 12px;
     margin: 6px auto;
     display: block;
     text-align: center;
     font-weight: bold !important;
     border-radius: 50%;
     height: 46px;
     margin-top: 6px;
}
 .floating-menu a:hover, .floating-menu a:active, .floating-menu a:focus{
     background: #adbfd6;
}
 .floating-menu a i{
     margin-left: 4px;
}
 .floating-ad-bottom{
     width: 240px;
     height: 140px;
     position: fixed;
     right:0;
     bottom:0;
     background-color: #e6e6e6;
     z-index: 999;
}
 .panel-close{
     color:#2b4158;
     float: right;
     display: block;
     text-align:right;
}


 @media only screen and (max-width: 1236px) {
    .social-media-controls {
        width: inherit;
        position: fixed;
        right: 10px;
    }

    .logo1{
            display: block;
    padding-top: 20px;
    float: left;
    width: 160px;
    min-width: 60px;
    margin-left: 0;
    }

    .navbar-left {
    margin-left: 50px;
}

}

.navbar-portal{
    min-height: 42px !important;
    position: fixed !important;
 
}

.container-header{
    max-height: 44px !important;
}

@media (min-width: 768px){
    .nav-left-admin {
        float: left !important;
        margin-left: 36px;
        margin-top: 4px !important;
    }
    .navbar-portal{
        min-height: 44px  !important;
        height: 44px  !important;
    }
}


 @media only screen and (max-width: 1067px) {
    .navbar-inverse .navbar-nav>li>a {
        font-size:12px; 
    }
    .browse-input{
            min-width: inherit;
            width:  100%;
    }
}
.slider-main{
    min-height: 0;
    min-width: 0;
    overflow: hidden;

}


.nav-search{
    padding-top: 20px;
    max-width: 198px;
}

.li-search-txt{
    height: 34px;
}

.search-btn{
    border-bottom-right-radius: 4px !important;
    border-top-right-radius: 4px !important;
    background: #2c3e50;
    color: white !important;
    border: 0;
}

.search-btn:hover,.search-btn:active,.search-btn:focus{
    background:#1d2b40 !important;
}

.box-container{
        border:0.2px solid #8291a5;
}

.browse-header{
    font-size: 22px;
    font-weight: lighter;
}


.browse-input{
            min-width: 330px;
        height: 32px;
}

.browse-input-group{
    width: 370px ;
}

.browse-btn{
    border-bottom-right-radius: 4px !important;
    border-top-right-radius: 4px !important;
    background: #1d2b40;
    color: white !important;
    border: 0;
}


.browse-btn:hover,.browse-btn:active,.browse-btn:focus{
    background:#12191f !important;
}

.txt-md{
    font-size: 16px !important;
}

.txt-light{
    font-weight: lighter !important;
}

.fullPage{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow:hidden;
    padding:0;
    margin:0;
    background-color: black;
    filter:alpha(opacity=50);
    z-index:1000005!important;
}


.section-midnight{
  background: #131d1f;
}

.bg-midnight{
    background: #131d1f;
  }
  .border-rounded-md{
    border-radius: 18px;
  }
  .border-rounded-sm{
    border-radius: 4px;
  }
.space-top-sm{
    margin-top: 20px;
}

.section-header{
    color: black;
    font-size: 26px;
    margin-left: 40px;
}
.login-img{
    margin: 0 auto;
}

.portal-logo{
    width: 30px;
    padding-top: 10px;
    margin-left: 100px;
    float: left;
    display: block;
}

.section-xs {
    height: 140px !important;
    padding: 0;
    margin: 0 24px;
    margin-bottom: 14px;
}

.margin-zero {
    margin: 0 !important;
}
.margin-sm {
    margin: 4px !important;
}
.see-first{
    z-index: 9999;
}

.font-md{
    font-size:22px;
}
.show-filter{
    margin-top: 6px;
    text-align: left;
    text-decoration: underline;
    padding-left: 4px;
}

.inline{
    display:inline-block !important;
}

.border-zero{
    border: 0px !important; 
}
.preview-container{
    min-height: 400px;
}

.tox-statusbar__branding{
    display:none !important;
}
textarea {
    overflow-y: scroll;
}

.bg-orange-gradient {
    background-color: red;
    background-image: linear-gradient(to bottom left, #ff5f6d  , #ffc371);
}

.bg-darkblue-gradient {
    background: #2b5876;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom left, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom left, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
         
}

.content-full{
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100vh;
    overflow: auto;
}

.div-center-full{
    position: fixed;
    margin: 0 auto;
    width: 100%;
    min-height: 300px;
    top:10%;
    padding: 20px;
}
.container-height-md{
    min-height: 450px;
}

.form-rounded{
    border-radius: 18px;
}

.font-sm{
    font-size: 12px !important;
}

.li-navportal-search{
    width: 320px;
}

.container-full{
    background:white;
    min-height: 100vh;
    overflow: auto;
}

.height100{
    min-height:100%;
    height:100%;
}

.side-menu{
    margin-top:40px;
}


.box-panel{
    width: 100%;
    min-width: 300px;
    min-height: 300px;
    display:block;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    background:white;
    margin-bottom: 12px;
    text-align: left;
}

.box-panel-sm{
    width: 100%;
    min-width: 300px;
    min-height: 100px;
    display:block;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    background:white;
    margin-bottom: 12px;
    text-align: left;
}

.box-panel-md{
    width: 100%;
    min-width: 300px;
    min-height: 160px;
    display:block;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    background:white;
    margin-bottom: 12px;
    text-align: left;
}

.bg-white2{
  background-color:  #fafafa !important;
}

.txt-share{
    width: 100%;
    height: 80px;
    padding: 4px;
    margin: 8px;
    border-radius: 4px;
    border: 1px solid #fafafa;
    overflow:auto;
    min-height: 80px;
}
.txt-share:active, .txt-share:focus,.txt-share:hover{

    border: 1px solid white !important;
    outline: none !important;
}